.Rproj.user
.Rhistory
.RData
.Ruserdata

Class\ 2\ --\ Manipulating\ Data/

Class\ 3a\ --\ Plotting\ Wrangle\ Sesh/
Class\ 3\ --\ Plotting/
Class\ 4\ --\ MLM\ Wrangle/

Class\ 1\ --\ Introduction/class1_exercises_solutions.R
Class\ 1\ --\ Introduction/plan.txt

class_1a--scripting/session1a--scripting_output.html
class_1a--scripting/session1a--scripting_output.pynb
class_1a--scripting/session1a--functions.pynb

