.Rproj.user
.Rhistory
.RData
.Ruserdata

class2--manipulating_data

class3a--plotting_wrangle
class3--plotting
class4--mlm_wrangle

class1--introduction/class1_exercises_solutions.R
class1--introduction/plan.txt

class1a--scripting/session1a--scripting_output.html
class1a--scripting/session1a--scripting_output.ipynb
class1a--scripting/session1a--functions.ipynb

